<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506778067905-q5jgdpeomen6q49m9eeg1d4dsepsdjqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506778067905-q5jgdpeomen6q49m9eeg1d4dsepsdjqq</string>
	<key>API_KEY</key>
	<string>AIzaSyDfiEmrMSThU38MfJ63dANuJVL1apjwAfE</string>
	<key>GCM_SENDER_ID</key>
	<string>506778067905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamesk.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a80db</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a80db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506778067905:ios:df342ea9d73fe075</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-a80db.firebaseio.com</string>
</dict>
</plist>